In [2]:
import pandas as pd
import matplotlib
import numpy as np
import pprint as p
import re
from geopy.distance import geodesic as GD

In [3]:
df = pd.read_csv('./data/toronto_addresses.csv', low_memory=False)

In [6]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9E95-62B2

 Directory of C:\Users\Serge\OneDrive\Documents\GitHub\geodata

2022-06-16  10:15 PM    <DIR>          .
2022-06-16  10:15 PM    <DIR>          ..
2022-06-16  09:47 PM                15 .gitignore
2022-06-16  10:04 PM    <DIR>          .ipynb_checkpoints
2022-06-16  09:47 PM    <DIR>          .vscode
2022-06-16  10:15 PM            13,811 Childcare cluster.ipynb
2022-06-16  09:47 PM             1,407 geodata.py
2022-06-16  10:08 PM    <DIR>          notebooks
               3 File(s)         15,233 bytes
               5 Dir(s)     518,557,696 bytes free

In [4]:
df.head(10)

,Unnamed: 0,latitude,longitude,source_id,id,group_id,street_no,street,str_name,str_type,...,postal_code,full_addr,city_pcs,str_name_pcs,str_type_pcs,str_dir_pcs,csduid,csdname,pruid,provider
0,0,43.67674,-79.44749,NaN,55426498d706641c18db,3235165,1281,St Clair Ave W,NaN,NaN,...,NaN,1281 St Clair Ave W,FORMER TORONTO,ST CLAIR,AVE,W,3520005,Toronto,35,Toronto
1,1,43.66449,-79.32191,NaN,14fbb82f0a40ed61c5b7,3479901,39,Connaught Ave,NaN,NaN,...,NaN,39 Connaught Ave,FORMER TORONTO,CONNAUGHT,AVE,NaN,3520005,Toronto,35,Toronto
2,2,43.66459,-79.32195,NaN,f35ea1c4fcbeddf66025,3514798,45,Connaught Ave,NaN,NaN,...,NaN,45 Connaught Ave,FORMER TORONTO,CONNAUGHT,AVE,NaN,3520005,Toronto,35,Toronto
3,3,43.65130,-79.47616,NaN,4aab25f10bd7cfedda24,3384047,255,Runnymede Rd,NaN,NaN,...,NaN,255 Runnymede Rd,FORMER TORONTO,RUNNYMEDE,RD,NaN,3520005,Toronto,35,Toronto
4,4,43.66466,-79.44805,NaN,8046555c8a04db827f85,3322730,1B,Antler St,NaN,NaN,...,NaN,1B Antler St,FORMER TORONTO,ANTLER,ST,NaN,3520005,Toronto,35,Toronto
5,5,43.66463,-79.44804,NaN,9ce52fb01fb2f1f1980a,3322552,1A,Antler St,NaN,NaN,...,NaN,1A Antler St,FORMER TORONTO,ANTLER,ST,NaN,3520005,Toronto,35,Toronto
6,6,43.67724,-79.37338,NaN,e43339ae9f6dd439ca8e,3287580,168,South Dr,NaN,NaN,...,NaN,168 South Dr,FORMER TORONTO,SOUTH,DR,NaN,3520005,Toronto,35,Toronto
7,7,43.67461,-79.30265,NaN,f75a1541158e0103f971,3390925,261,Waverley Rd,NaN,NaN,...,NaN,261 Waverley Rd,FORMER TORONTO,WAVERLEY,RD,NaN,3520005,Toronto,35,Toronto
8,8,43.67427,-79.30300,NaN,5c73268ab0fc4aae68e5,3383663,254,Waverley Rd,NaN,NaN,...,NaN,254 Waverley Rd,FORMER TORONTO,WAVERLEY,RD,NaN,3520005,Toronto,35,Toronto
9,9,43.67508,-79.30282,NaN,14441a40f93afe852a47,3401617,279,Waverley Rd,NaN,NaN,...,NaN,279 Waverley Rd,FORMER TORONTO,WAVERLEY,RD,NaN,3520005,Toronto,35,Toronto

In [ ]:
pd.set_option('display.max_columns', None)